@import "includes/settings";

body{
  background-image: linear-gradient(to bottom right, yellow, blue);
  height: 100vh;
  font-family: Arial, sans-serif;
  width: 1000px;
  margin: 0 auto;
}
.wrapper{
  border-color: $blue;
  color: darken($blue, 10%);
}
.border{
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 54px;
  color: darkcyan;
}
p{
  font-size: 24px;
}
ul{
  display: flex;

}
li{
  padding: $margin;
  list-style-type: none;
  justify-content: flex-end;
  width: 20%;
  
}